.mt-10 {
    margin-top:10px;
}

.mb-10 {
    margin-bottom:10px;
}

.mt-20 {
    margin-top:20px;
}

.mt-50 {
    margin-top:50px;
}

.pt-10 {
    padding-top:10px;
}

.pb-10 {
    padding-bottom:10px;
}

.border-bottom {
    border-bottom:1px solid rgba(0,0,0,.125);
}

.mr-05r {
    margin-right:0.5rem;
}