<% if(!user){ %>
<div class="login-wrap">
    <div class="login-html rounded-col">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <form action="/login" method="POST">
                    <div class="group">
                        <label for="email" class="label">email</label>
                        <input id="email" type="text" class="input" name="email">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked name="keepSigned">
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk forgot-pw">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </form>
            </div>
            <div class="sign-up-htm">
                <form method="POST" action="/register">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input" name="username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password" name="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email Address</label>
                        <input id="pass" type="text" class="input" name="email">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Nick Name</label>
                        <input id="pass" type="text" class="input" name="nickName">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Like Items</label>
                        <div>
                            <label>
                                <input type="checkbox" class="option-input checkbox mr-05r" name="likeCoding" />
                                <strong class="mr-05r select-item">Coding</strong>
                            </label>
                            <label>
                                <input type="checkbox" class="option-input checkbox mr-05r" name="likeDaily" />
                                <strong class="mr-05r select-item">Daily</strong>
                            </label>
                            <label>
                                <input type="checkbox" class="option-input checkbox mr-05r" name="likeFood" />
                                <strong class="mr-05r select-item">Food</strong>
                            </label>
                            <label>
                                <input type="checkbox" class="option-input checkbox mr-05r" name="likeStudy" />
                                <strong class="mr-05r select-item">Study</strong>
                            </label>
                            <label>
                                <input type="checkbox" class="option-input checkbox mr-05r" name="likeFashion" />
                                <strong class="mr-05r select-item">Fashion</strong>
                            </label>
                            <label>
                                <input type="checkbox" class="option-input checkbox mr-05r" name="likeMusic" />
                                <strong class="mr-05r select-item">Music</strong>
                            </label>
                        </div>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% }else{ %>
<div class="card-body">
    <div class="h5">@<%= user.username %></div>
    <div class="h7 text-muted">Fullname : <%= user.nickName%></div>
    <div class="h7"><%= user.likeItem %>
    </div>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="h6 text-muted">Followers</div>
        <div class="h5">미정</div>
    </li>
    <li class="list-group-item">
        <div class="h6 text-muted">Following</div>
        <div class="h5">미정</div>
    </li>
    <li class="list-group-item logout-link"><a href="/logout">LOG OUT</a></li>
</ul>
<% } %>