<div class="card gedf-card">
    <div class="card-body side-menu">
        <h5><a href="/board/myPage" class="menu-link">My-Page</a></h5>
        <hr>
        <h5><a href="#" class="menu-link">Menu-Two</a></h5>
        <hr>
        <h5><a href="#" class="menu-link">Menu-Three</a></h5>
        <hr>
        <h5><a href="#" class="menu-link">Menu-Four</a></h5>
        <hr>
        <h5><a href="#" class="menu-link">Menu-Five</a></h5>
    </div>
</div>    