<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ../sections/stylesheet %>
</head>

<body>
    <nav class="navbar navbar-light bg-white">
        <a href="#" class="navbar-brand">Boxs-Books</a>
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>


    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <% include ../sections/login %>
                </div>
            </div>
            <div class="col-lg-6 gedf-main">
                <!-- Posting Form -->
                <% include ../sections/postingForm %>
                <!-- Post Body -->
                <% include ../sections/post %>
                <div class="post-add card gedf-card">
                    <div class="card-header post-more">
                        More....
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <!-- Side Menubar -->
                <% include ../sections/sideMenu %>
            </div>
        </div>
    </div>
    <% include ../sections/board-js %>
</body>

</html>